[defaults]
inventory         = ./inventory
log_path          = ./ansible.log
host_key_checking = False
roles_path        = ./roles

# SSH timeout
timeout             = 30
vault_password_file = ~/.ansible_vault_pass
ansible_managed     = Ansible managed
retry_files_enabled = False

# if set to a persistent type (not 'memory', for example 'redis') fact values
# from previous runs in Ansible will be stored.  This may be useful when
# wanting to use, for example, IP information from one group of servers
# without having to talk to them in the same playbook run to get their
# current IP information.
fact_caching            = jsonfile
fact_caching_timeout    = 86400
fact_caching_connection = ./facts


[ssh_connection]
# ssh arguments to use
# Leaving off ControlPersist will result in poor performance, so use
# paramiko on older platforms rather than removing it, -C controls compression use
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ForwardAgent=yes -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
