wp.alejandrotorres.xyz {
    log stdout
    errors
    proxy / http://wordpress {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
    }
    tls ops@alejandrotorres.xyz
}
